@model UserInfo

@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome to the DemoApp Home Page.</p>

<form asp-action="Index" method="Post" class="form-horizontal" role="form">
    <fieldset>
        <legend>Add User</legend>
        <div>
            <label asp-for="UserID" class="col-md-2 control-label">User ID:</label>
            <input asp-for="UserID" class="form-control" />
        </div>
        <div>
            <label asp-for="Email">E Mail:</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div>
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div>
            <label asp-for="Mobile">Mobile Number:</label>
            <input asp-for="Mobile" class="form-control" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="Submit" class="btn btn-primary" />
        </div>
    </fieldset>
</form>
